/**
 * Plugin Name: Z Mini Admin Menu
 * Admin styles
 * 
 * Author: Zodan
 * Author URI: https://zodan.nl
 */
:root {
    --zmam-color-red: #f00;
    --zmam-color-bg-warning: #666;
    --zmam-color-text-warning: #fff;
    --zmam-color-bg-panel: #fff;
    --zmam-color-text-panel: #fff;
    --zmam-color-bg-icon-picked: #000;;
    --zmam-color-text-icon-picked: #fff;
    --zmam-color-bg-icon-picker-container: #fff;
    --zmam-color-box-shadow-icon-picker-container: 0 1px 2px rgba(0, 0, 0, 0.1);
    --zmam-width-icon-picker-icon: 20px;
    --zmam-height-icon-picker-icon: 20px;
    --zmam-color-icon-picker-item: #373737;
    --zmam-color-border-icon-picker-item: #dfdfdf;
    --zmam-color-border-icon-picker-item-hover: #999;
    --zmam-color-bg-icon-picker-item-hover: #efefef;
    --zmam-color-text-notice: #000;

}
#adminmenu a[href="options-general.php?page=z_mini_menu_plugin"]:before {
    display: inline-block;
    content: "";
    width: 18px;
    height: 18px;
    opacity: 0.6;
    vertical-align: bottom;
    margin-right: 8px;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIGlkPSJtaW5pTWVudSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiIHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHBhdGggaWQ9Imljb24iIGZpbGw9IiNmZmZmZmYiIGQ9Ik0yNTYsMEMxMTQuOCwwLDAsMTE0LjgsMCwyNTZzMTE0LjgsMjU2LDI1NiwyNTYsMjU2LTExNC44LDI1Ni0yNTZTMzk3LjIsMCwyNTYsMFpNMzYyLjcsMzYyLjdoLTIxMy4zYy0xMS44LDAtMjEuMy05LjYtMjEuMy0yMS4zczkuNS0yMS4zLDIxLjMtMjEuM2gyMTMuM2MxMS44LDAsMjEuMyw5LjYsMjEuMywyMS4zLDAsMTEuOC05LjUsMjEuMy0yMS4zLDIxLjNaTTM2Mi43LDI3Ny4zaC0yMTMuM2MtMTEuOCwwLTIxLjMtOS42LTIxLjMtMjEuM3M5LjUtMjEuMywyMS4zLTIxLjNoMjEzLjNjMTEuOCwwLDIxLjMsOS42LDIxLjMsMjEuM3MtOS41LDIxLjMtMjEuMywyMS4zWk0zNjIuNywxOTJoLTIxMy4zYy0xMS44LDAtMjEuMy05LjYtMjEuMy0yMS4zczkuNS0yMS4zLDIxLjMtMjEuM2gyMTMuM2MxMS44LDAsMjEuMyw5LjYsMjEuMywyMS4zcy05LjUsMjEuMy0yMS4zLDIxLjNaIi8+PC9zdmc+")
}
#adminmenu .current a[href="options-general.php?page=z_mini_menu_plugin"]:before {
    opacity: 0.9;
}
.z-warning {
    background: var(--zmam-color-bg-warning);
    color: var(--zmam-color-text-warning);
    padding: 0.25rem 1rem;
    border-radius: 0.4rem;
}
.z-mini-menu-ia-item {
    background: var(--zmam-color-bg-panel);
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}
.z-mini-menu-btn-add-ia i {
    margin-top: 4px;
}
.z-mini-menu-btn-remove-ia {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    background: var(--zmam-color-red);
    color: var(--zmam-color-text-warning);
    border-radius: 50%;
    line-height: 17px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    right: -10px;
    top: calc(50% - 10px);
}
.z-mini-menu-ia-item label {
    display: inline-block;
    width: 150px;
}
.picked-icon {
    display: inline-block;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    min-height: 30px;
    margin: 0;
    margin-right: 10px;
    padding: 0 6px;
    color: var(--zmam-color-text-icon-picked);
    background: var(--zmam-color-bg-icon-picked);;
    border-radius: 4px;
}
.dashicon-picker-container {
    position: absolute;
    width: 220px;
    height: 252px;
    font-size: 14px;
    background-color: var(--zmam-color-bg-icon-picker-container);
    -webkit-box-shadow: var(--zmam-color-box-shadow-icon-picker-container);
    box-shadow: var(--zmam-color-box-shadow-icon-picker-container);
    overflow: hidden;
    padding: 5px;
    box-sizing: border-box;
}
.dashicon-picker-container ul {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}
.dashicon-picker-container ul .dashicons {
    width: var(--zmam-width-icon-picker-icon);
    height: var(--zmam-height-icon-picker-icon);
    font-size: var(--zmam-height-icon-picker-icon);
}
.dashicon-picker-container ul li {
    margin: 5px;
    float: left;
}
.dashicon-picker-container ul li a {
    display: block;
    text-decoration: none;
    color: var(--zmam-color-icon-picker-item);
    padding: 5px 5px;
    border: 1px solid var(--zmam-color-border-icon-picker-item);
}
.dashicon-picker-container ul li a:hover {
    border-color: var(--zmam-color-icon-picker-item-hover);
    background: var(--zmam-color-bg-icon-picker-item-hover);
}
.dashicon-picker-control {
    height: 32px;
}
.dashicon-picker-control a {
    padding: 5px;
    text-decoration: none;
    line-height: 32px;
    width: 25px;
}
.dashicon-picker-control a span {
    display: inline;
    vertical-align: middle;
}
.dashicon-picker-control input {
    font-size: 12px;
    width: 140px;
}
.z-mini-menu-sort-item {
	background: var(--zmam-color-bg-panel);
	border-radius: 5px;
	margin-bottom: 8px;
	padding: 10px 10px 10px 20px;
	max-width: 300px;
	font-weight: 600;
	cursor: move;
}
.z-mini-menu-sort-item .handle {
    float: right;
    opacity: .4;
}
#z_mini_menu_notices {
    background-color: #08B2CA45;
    background-image: radial-gradient(#6fc4d2 1px, transparent 0);
    background-size: 11px 11px;
    background-position: -8px -8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 4px 10px 20px;
    border-left-width: 8px;
    border-color: #08B2CA45;
    border-left-color: #08B2CA;
    border-radius: 6px;
  }
#z_mini_menu_notices p {
    color: var(--zmam-color-text-notice);
    font-size: 15px;
}
#z_mini_menu_notices .notice-dismiss {
    position: relative;
}
#z_mini_menu_notices .notice-dismiss::before {
    color: var(--zmam-color-text-notice);
    font-size: 20px;
}
#z_mini_menu_notices .notice-dismiss:hover::before {
    color: var(--zmam-color-text-notice);
    transform: scale(1.1);
}